* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#c3c3c3, #fff);
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.mainContainer {
    width: 990px;
    margin: 0 auto;
    background-color: #fff;
    display: grid;
}

.topHead{
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: 1.3fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.logos {
    top: 0;
    height: 100px;
    overflow: hidden;
    background-image: url("");
}

#searchBar{
    align-self: center;
    min-width: 0;
    min-height: 0;
}

#search {
    padding-left: 5px;
    width: 200px;
    height: 30px;
    /* background: url(imagens/lupa_sprites.png);
    background-repeat: no-repeat;
    background-position: right 10px;  */
    position: relative;
    align-self: center;
    left: 40px;
    user-select: none;
    /* border: 1px solid black; */
    transition: width 1s ease-in-out;
}

#search:focus{
    width: 400px;
    outline: none;
}

.smedia{
    align-self: end;
    justify-self: end;
    margin-left: 10px;
    margin-bottom: 5px;
}

.smedia > a > i{
    font-size: 18px;
    color: #AFB0B2;
    user-select: none;
}

.smedia > a > i:hover{
    color: black;
}

.localidade{
    width: 70px;
    height: 30px;
    position: relative;
    right: 0px;
    bottom: 45px;
    border: 1px solid transparent;
    background-color: #F15922;
    text-align: center;
    color: white;
    cursor: pointer;
    user-select: none;
}

.localidade > p{
    position: relative;
    text-align: center;
    bottom: 10px;
}

nav{
    display: grid;
    grid-template-rows: 1fr;
    border: 1px solid grey;
    height: 40px;
}

#menu {
    margin: 0;
    list-style-type: none;
    text-align: center;
    justify-self: end;
    padding-left: 0;
}

#menu > li {
    display: inline-block;
    padding: 10px;
    margin-right: 50px;
    position: relative;
}

#menu > li > a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

#menu > li > a:hover{
    color: white;
    background-color: #1f253c;
}

.submenu {
    margin: 0;
    padding: 0;
    display: none;
    list-style-type: none;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 39px;
}

.submenu > li > a{
    text-decoration: none;
    display: block;
    color: white;
    background-color: #686f79;
    padding: 10px;
    margin-bottom: 1px solid #b7bac3;
    padding-left: 15px;
    padding-right: 15px;
}

.submenu > li > a:hover{
background-color: #444a51;
}

#menu > li:hover > .submenu {
    display: block;
}


.breadcrumbsData{
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 10px;
}

.breadcrumbsData > p{
    display: inline;
    margin: 0;
}

.breadcrumbsData > p > span:first-of-type{
    margin-left: 10px;
    color: grey;
    cursor: pointer;

}

#data {
    justify-self: end;
    margin-right: 10px;
    float: right;
}

.tabs{
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 0.3fr 1fr;
    height: 230px;
    overflow: ;
}

.tabs > div{
    position: relative;
}

#tab{ 
    list-style: none;
    width: 230px;
}

.tablink{
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 11px;
    position: relative;
    top: 5px;
    right: 30px;
    border-bottom: 1px solid grey;
    text-decoration: none;
    user-select: none;
    width: 220px;
    cursor: pointer;
}

.tabimage {
    width: 750px;
    height: 210px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 2;
    position: relative;
    top: 19px;

}

.tabimage > div{
    display: inline-block;
}

.tablink > a{
    text-decoration: none;
    user-select: none;
}

.tablink:hover{
    background-color: rgb(65,65,65);
    color: rgb(0,157,224);
    font-size: 16px;
    padding-bottom: 8px;
}

.activeimage {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0px;
}

.triangle-right {
	width: 0;
    height: 0;
    display: none;
    left: 220px;
	border-top: 10px solid transparent;
	border-left: 5px solid black;
    border-bottom: 10px solid transparent;
    position: absolute;
    z-index: 3;
}

.uppermain {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
}

.uppermain > .promocoes > figure{
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-right: 15px;
}

.uppermain > .promocoes > figure:first-of-type{
    padding-left: 20px;
}

.uppermain > .promocoes > figure > a > img:hover{
    box-shadow: 3px 3px 5px black;
}

.uppermain > .promocoes > figure > a:hover ~ figcaption {
    font-weight: bold;
}

.promocoes figcaption{
    text-align: center;
}

.promocoes > h1{
    padding-left: 15px;
}

.newsletter{
    width: 200px;
    height: 150px;
    justify-self: end;
    margin-right: 20px;
}

.newsletter > h1{
    background-color: white;
}

.newsletter > form{
    background-color: gainsboro;
    height: 260px;
    padding-top: 5px;
    padding-left: 10px;
}

hr{
    border-top: 1px dashed gainsboro;
    margin-left: 20px;
    margin-right: 20px;
}

#nome{
    width: 173px;
}

.lowermain{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
}

.destaque{
    margin-left: 15px;
    padding-top: 0;
}

.descricao{
    margin-top: 34px;
}

.balaoChat {
	position: relative;
	background: #ff0000;
    border-radius: .4em;
    width: 60px;
    text-align: center;
    bottom: 170px;
    left: 400px;
    display: inline;
    padding: 10px;
    color: white;
}

.balaoChat:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 40%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #ff0000;
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

.balaocinzento {
    background: grey;
}

.balaocinzento:after{
    border-top-color: grey;
}

.balaoverde{
    background: green;
}

.balaoverde:after{
    border-top-color: green;
}

footer{
    display: grid;
    grid-template-rows: 1fr;
    display: inline;
    background-color: gray;
    font-size: 10px;
    text-align: center;
}

footer > p{
    padding: 0;
}

.referencias{
    margin-top: 5px;
}

.ao{
    position: absolute;
    top: 50vw;
    width: 121px;
    height: 50px;
    overflow: hidden;
    border: 1px solid transparent;
    border-top-right-radius: 20%;
    transform: translateX(-10px);
}

.ao:hover{
    height: 138px;
}

#cookies{
    width: 100%;
    font-size: 0.75em;
    text-align: center;
    background-color: black;
    /* opacity: ; */
    color: white;
    z-index: 1;
    /* display: none; */
} 

#cookies > p{
    margin: 0;
    padding: 0;
    display: block;
}

.cookiebutton{
    display: inline-block;
    border: 1px solid black;
    background-color: white;
}